#container{
	border-style: solid;
	border-color: black;
	border: 2px;
	display: inline-block;
}
h1{
	border-left: 2px solid blue;
    font-size: 48px;
    font-weight: 400;
    padding-left: 20px;
}
.nav{
	height: 10%;
	width: 100%;
	background-color: #C8C8C8;
}
.nav ul{
	list-style-type: none;
	margin-top: 5px;
}
.nav ul li{
	display: inline;
	color:inherit;
	text-decoration: none;
}
.nav ul li a {
	text-decoration: none;
	color: #555;
}
.nav ul li:hover{
	font-weight: 500;
}
#home{
	border-right: 1px solid gray;
	padding-right: 10px;
}
#museum{
	padding-left: 15px;
}
p{
	border-radius: 25px;
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: black;

}
.zoo{
	display: inline-block;
	color: orange;
}
#p1{
	border-radius: 25px;
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: maroon;
}
p:focus{
	background-color: white;
	transition: background 5s, color 2s
}
#p2{
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: blue;
}
#p3{
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: orange;
}
#p4{
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: purple;	
}
#p5{
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: green;	
}	
#p6{
	font-family: Times;
	font-size: 25px;
	text-align: center;
	color: white;
	height: 100px;
	width: 100%;
	background-color: #FF0066;	
}
img{
	width:22vmax;
	height:22vmax;
}
li{
	color:orange;
	padding-bottom: 8px;
	display:block;
}

span {
	color:white;
	font-size: 18px;
	font-family:Verdana;
	float:left;
}
.all-photos{
	text-align: center;
}
.zoo-title{
	color:white;
	text-shadow: 2px 2px #ff0000;
}
.zoo-info{
	color:orange;
	font-size: 3vmax;

}

/*#daphnia:hover span{
	display: block;
}
#copepod:hover span{
	display:block;
}
#mlarvae:hover span{
	display:block;
}*/





